@media (max-width: 768px) {
    form {
        width: 90%;
        height: auto;
        padding: 25px;
    }
    h3 {
        margin-bottom: 20px;
    }
    textarea {
        width: 100%;
        height: 200px;
    }

    .nameValueAdd {
        width: 100%;
    }

    input[type="button"] {
        margin: 5px 0;
    }
}